body{
    background-color: black;
    
}
#calculator{  
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    width: 350px;
    height: 475px;
    background-color: blue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px  darkblue;
    
}

#screen{
    background-color: gray;
    height: 40px;
    padding: 20px;
    margin: 5px 5px;
    text-align: end;
    border-radius: 5px;
    border: solid;
    font-family: 'digital-Font' , Fallback, sans-serif;
    font-size: 55px;
    text-shadow: 2px 2px;
    box-shadow: 3px 3px 3px 3px  black;
    
}

#buttons{
    margin-top: 25px;
    background-color: blue;
    border-radius: 15px;
    height: 76%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    

}

button{
    background-color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    box-shadow: 3px 3px 3px 3px  whitesmoke;
    border: 0;
}

button:focus{
    filter: brightness(75%);
    border: 0;
}



#delete{
    grid-column: 1 / span 2;
    background-color: red;
    box-shadow: 3px 3px 3px 3px  darkred;
    color: black;
    opacity: 90%;
}

#clear{
    grid-column: 3 / span 2;
    background-color: red;
    box-shadow: 3px 3px 3px 3px  darkred;
    color: black;
    opacity: 90%;
}
#equal{
 background-color: #FCB31B;
 box-shadow: 3px 3px 3px 3px  darkgoldenrod;
 
 color: black;
}

.operator{
    background-color: #FCB31B;
    box-shadow: 3px 3px 3px 3px  darkgoldenrod;
    color:black;
}

@font-face {
    font-family: 'digital-Font';
    src: url('digital-7.ttf');
  }